.flag-container .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.flag-container .col-md-4 {
  width: 23%;
  box-sizing: border-box;
  padding: 10px;
  margin: 1%;
  height: auto;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease-in-out;
}

.flag-container .col-md-4:hover {
  background-color: #e0e0e0;
}

.flag-container .flag-link {
  text-decoration: none;
  color: inherit;
}

.flag-container .flag-image {
  width: 220px;
  height: 110px;
  object-fit: cover;
  position: relative;
  top: 15px;
  left: 25px;
}

.flag-container .card-body {
  text-align: center;
}

.flag-container .card-text {
  font-size: 1.2rem;
  margin: 40px;
}

button.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-warn.mat-mdc-button-base {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .container {
    min-width: 100%;
  }
  .flag-container .col-md-4 {
    width: 100%;
    margin: 1%;
    margin-bottom: 10%;
  }

  .flag-container .flag-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    position: relative;
    top: 15px;
    left: 0px;
  }

  button.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-warn.mat-mdc-button-base {
    width: 100%;
    margin-bottom: 10%;
}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .flag-container .col-md-4 {
    width: 45%;
    box-sizing: border-box;
    padding: 10px;
    margin: 1%;
    height: auto;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease-in-out;
  }
}

@media only screen and (width: 1024px) and (max-height: 800px) {
  .flag-container .col-md-4 {
    width: 45%;
    box-sizing: border-box;
    padding: 10px;
    margin: 1%;
    height: auto;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease-in-out;
  }
}

@media only screen and (width: 1180px) and (max-height: 900px) {
  .flag-container .col-md-4 {
    width: 45%;
    box-sizing: border-box;
    padding: 10px;
    margin: 1%;
    height: auto;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease-in-out;
  }
}

@media only screen and (width: 1024px) and (max-height: 1400px) {
  .flag-container .col-md-4 {
    width: 45%;
    box-sizing: border-box;
    padding: 10px;
    margin: 1%;
    height: auto;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease-in-out;
  }
}

@media only screen and (width: 1370px) and (max-height: 1050px) {
  .flag-container .col-md-4 {
    width: 45%;
    box-sizing: border-box;
    padding: 10px;
    margin: 1%;
    height: auto;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease-in-out;
  }
}

