<div class="container">
  <section class="popular-countries">
    <div class="container flag-container">
      <h1>Discover the World Through Flags</h1>
      <p>Explore the fascinating world of flags and global information. Immerse yourself in the rich cultural diversity of each country, learn interesting facts, and discover wonders. Click on the flags to start your informative journey around the world!</p>
      <div class="row">
        <div class="col-md-4" *ngFor="let country of countries">
          <a [routerLink]="['/countries/by', country.cca3]" class="flag-link">
            <div class="flag-container">
              <img [src]="country.flags.svg" [alt]="country.name.common" [title]="country.name.common" class="flag-image">
              <div class="card-body">
                <h4 class="card-text">{{ country.name.common }}</h4>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <button class="btn btn-primary" (click)="loadMoreCountries()">Ver más</button>
    </div>
  </section>
</div>
