.flag-container {
  margin-top: 10%;
  max-width: 90%;
}

.flag-container .row {
  display: flex;
  flex-wrap: wrap;
}

.flag-container .col-md-4 {
  max-width: 25%;
  box-sizing: border-box;
}

.flag-container .flag-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.flag-container .col-md-4:hover {
  background-color: #f0f0f0;
}

.flag-container .card {
  border: 1px solid #ccc;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.flag-container .flag-image {
  width: 240px;
  height: 120px;
  object-fit: cover;
  border: 1px solid lightgray;
}

.flag-container .card-text {
  margin: 10px 0;
  font-size: 1.2rem;
  float: left;
}

@media (max-width: 768px) {
  .flag-container .col-md-4 {
    width: 100%;
    margin: 1%;
  }
}

img[title] {
  position: relative;
}
