<h1>Explore Countries Around the Globe</h1>
<p>Immerse yourself in the richness of national identity by exploring countries around the globe. From the vast plains of Africa to the snow-capped peaks of the Andes, discover the unique essence of each nation. Learn about their traditions, people, and global impact. A cultural odyssey awaits as you traverse the world through its borders.</p>
<hr>

<div class="row">
  <div class="col">
      <!-- SearchBox -->
      <shared-search-box
        (onDebounce)="searchByCountry($event)"
        [initialValue]="initialValue"
        placeholder="Search by country name"></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col overflow-auto">
    <hr>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>

