<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">CountriesApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
     data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
     aria-expanded="false" aria-label="Toggle navigation"
     (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" (click)="toggleCollapsed()" routerLink="countries/by-capital" routerLinkActive="active">
        <a class="nav-link">Por capital</a>
      </li>
      <li class="nav-item" (click)="toggleCollapsed()" routerLink="countries/by-country" routerLinkActive="active">
        <a class="nav-link">Por país</a>
      </li>
      <li class="nav-item" (click)="toggleCollapsed()" routerLink="countries/by-region" routerLinkActive="active">
        <a class="nav-link">Por región</a>
      </li>
    </ul>
  </div>
</nav>
