<div class="container">
  <footer class="row row-cols-1 row-cols-md-3 py-5 my-5 border-top footer">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-body-secondary"><a href="https://bento.me/manuelferrer" target="_blank" class="underline">Manuel Ferrer</a> © 2024</p>
    </div>
    <div class="col mb-6">
      <h5>Countries</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a routerLink="countries/by-capital" routerLinkActive="active" class="nav-link p-0 text-body-secondary">By capital</a></li>
        <li class="nav-item mb-2"><a routerLink="countries/by-country" routerLinkActive="active" class="nav-link p-0 text-body-secondary">By country</a></li>
        <li class="nav-item mb-2"><a routerLink="countries/by-region" routerLinkActive="active" class="nav-link p-0 text-body-secondary">By region</a></li>
      </ul>
    </div>
    <div class="col mb-6">
      <h5>Information</h5>
      <p class="nav-item mb-2">
        This website is a Single Page Application (SPA) developed with Angular.

        Real-time country information is sourced from the <a href="https://restcountries.com/" target="_blank" class="underline">Rest Countries</a> API.

        Thank you for visiting our page. If you have any questions or comments, feel free to connect with me and <a href="mailto:manuferrer094@gmail.com" class="underline">send me a message.</a>
      </p>
    </div>
  </footer>
</div>
