<h1>Discover Countries by Capital</h1>
<p>Explore the captivating world of capitals and their respective countries. Dive into the cultural, historical, and geographical diversity hidden behind each major city. From bustling metropolises to hidden gems, embark on a journey that will take you across continents, revealing the unique richness of each capital.</p>
<p>Enter the name of the capital or a portion of the text in the search bar to unveil the country it belongs to and unravel the fascinating stories behind these global landmarks.</p>
<hr>
<div class="row">
  <div class="col">
    <shared-search-box
      (onDebounce)="searchByCapital($event)"
      [initialValue]="initialValue"
      placeholder="Search country by capital"></shared-search-box>
  </div>
</div>
<div class="row">
  <div class="col overflow-auto">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries" *ngIf="shouldShowTable()"></countries-table>
  </div>
</div>

