body {
  padding-top: 5%;
}

.container {
  max-width: 90%;
}

.btn-primary {
  transition: transform 0.3s, filter 0.3s;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  color: white;
  padding: 0px 10px;
  border-radius: 5px;
  float: right;
}

.btn-primary:hover {
  filter: brightness(1.5);
}

.overflow-auto {
  overflow-x: auto;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .container {
    margin-top: 10%;
  }
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}







